body{
    background-color: white;
    color: #000;
    height: 80vh;
}

.content{
    position: relative;
    height: 100vh;
}

.card{
  height:20vh;
  width:25%;
  border:1px solid rgb(230,230,230);
  border-radius:1em;
  padding:1em;
  margin-bottom:2em;
}

.card:hover{
  background-color:rgb(240,240,240);
  cursor:pointer;
}
#audio-player-container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: whitesmoke;
    opacity:90%;
    bottom: 0;
    left: 0;
    right: 0;
}

.audio-player-range{
    position: fixed;
    height: 1em;
    bottom: 25%;
    opacity: 60%;
}

#time-elapsed{
    left: 0;
    width: 0%;
    background-color: blue;
    z-index: 1;
}
#time-left{
    right: 0;
    background-color: gray;
    width: 100%;
    z-index: 0;
}

.audio-player-buttons > i{
    margin-right: 1em;
}

.audio-player-buttons > i:hover, .slidecontainer > i:hover{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}